* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bigbox{
	width: 960px;
	margin: 50px auto;
}

.box{
	position: relative;
	padding: 10px;
	float: left;
	width: 300px;
	border: solid 0.5px lightgray;
}

.box:nth-child(1){
	margin-right: 30px;
}

.box:nth-child(2){
	margin-right: 30px;
}

.step{
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	color: white;
}

.img1{
	background-size: cover;
	background-position: bottom;
	background-image: url(img/flow01.png);
	height: 150px;
}

.img2{
	background-size: cover;
	background-position: bottom;
	background-image: url(img/flow02.png);
	height: 150px;
}

.img3{
	background-size: cover;
	background-position: bottom;
	background-image: url(img/flow03.png);
	height: 150px;
}



@media screen and (max-width:768px) {
	.bigbox{
		width:100%;
		margin: 50px auto;
	}

	.box{
		width: 90%;
		float: none;
		margin: 0 auto;
	}

	.box:nth-child(1){
		margin:0 auto 20px;
	}

	.box:nth-child(2){
		margin:0 auto 20px;
	}

	.img1, .img2, .img3{
		height: 270px;
	}

	

}